.banner {
    background-image: url("/static/blog/img/bannerBlog.png");
    background-size: cover;
    background-position: center;
    height: 500px;
  }
  
  .banner-content {
    padding-top: 150px;
  }
  
  .content {
    height: 800px;
    margin-top: -30px;
  }

  .heading{

    margin-left: -1100px;
    margin-top: -125px;
  }

  .subheading{

    margin-left: -1066px;
    margin-top: 15px;
  }
p{
 font-size: 18px;
 font-family: sans-serif;
  }